header {
    width: 100%;
    background: #EEEFF1;
    position: fixed;
    left: 0;
    top: 0;
    padding-bottom: 1px;
    z-index: 2;
    opacity: 0.95;
}

.hw {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    background: #EEEFF1;
}

.hlogo {
    font-family:'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    margin-top: 10px;
}

.hmenu {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 60px;
}

.hmenu a {
    padding: 5px;
    text-decoration: none;
    color: black;

}
.hmenu a:hover {
    padding: 5px;
    background: rgba(169, 169, 169, 0.37);
}

.hmenu a:visited {
    color: black;
}


.wrapper {
    max-width: 100%;
    margin: 0 auto;
}


.intro {
    padding-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.intro_pic {
    width: 300px;

}

.intro_r{
    max-width: 500px;
    margin-left: 130px;
    margin-bottom: 150px;
}

.intro_info {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 60px;

}

.intro_subinfo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

img {
    -ms-interpolation-mode: bicubic;
}
img {
    vertical-align: middle;
}

.intro_img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px 30px;
    max-height: 100%;
}

.about_r{
    max-width: 500px;
    margin-left: 1px;
    margin-bottom: 250px;
}

.about_info {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 60px;

}

.about_subinfo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.about_me{
    padding-top: 100px;
    margin-top: 40px;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about_r h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 40px;
}
.about_r ul{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.columns {
    display: flex;
    /*justify-content: center;*/
    /*align-content: space-between;*/
}
.column {
    width: 50%;
}
.about_img{

    max-width: 100%; /* уменьшение размера изображения до ширины контейнера */
    height: auto; /* автоматическое подстраивание высоты под пропорции */
    margin: 30px 30px; /* центрирование изображения по горизонтали */
    max-height: 300px; /* максимальная высота изображения */
}
.about_pic {
    width: 300px;

}

.my_activity {
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: 60px;
}



.my_activity_r{
    max-width: 100%;
    margin-left: 130px;
    margin-bottom: 250px;
}

.my_activity_info {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 60px;

}

.my_activity_subinfo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

aside {

    /*border: 1px solid #bebebe;*/
    padding: 20px;
    margin-top: 40px;
    justify-content: space-around;
    /*margin-top: 20px;*/

    border-radius: 10px;
    margin-right: 20px;
    background: #eaeaea;
    /*max-width: 38%;*/

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #727272;
    height: 80%;





}

aside h3 {
    font-size: 30px;
    color: black;
    font-family: Roboto;
    text-decoration: none;
}

aside a{
    text-decoration: none;
    font-size: 28px;
    color: black;
    padding: 5px;
    /*text-decoration: none;*/
}
aside a:hover{
    opacity: 1;

    background: rgba(169, 169, 169, 0.37);
}

#id1 #id2 {
    transition: background-color 0.3s ease;
}
#id1:hover{
    background-color: #d9d9d9;
}

#id2:hover{
    background-color: #d9d9d9;
}

section a{
    text-decoration: none;
    width: 40%;
}

footer p {
    width: 100%;
    padding: 30px;
    background: #e8e8e8;
    justify-content: center;
    align-content: center;
    display: flex;
    font-family: Roboto;
    color: #969696;
    padding-bottom: 20px;
}








.feedback_info {
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: 20px;
}



.feedback_info_container{
    max-width: 100%;
    margin-left: 100px;
    margin-bottom: 10px;
}

.feedback_logo {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 30px;

}

.feedback_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}



.form_section {

    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;

}

.form_section_text{
    /*border: 1px solid black;*/
    max-width: 100%;
    margin-left: 100px;
    margin-bottom: 250px;
    background: rgba(197, 203, 213, 0.65);
    border-radius: 10px;
    padding: 3% 5%;

}

.form_logo {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 30px;


}

.form_data {
    /*border: 1px solid black;*/
    margin: 10% 5%;

}
.form_data label{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    display: flex;
}

.question{
    background: #e8e8e8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
    .hw {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hmenu {
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        cursor: pointer;
        margin-left: 10%;
        margin-top: 5%;
    }


    .hlogo {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        cursor: pointer;
        margin-top: 10px;
        margin-top: auto;
        margin-left: 10%;
    }
    .intro_pic{
        display: none;
    }

    .intro {
        padding-top: 150px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .about_img {
        display: none;

    }
    .about_pic {
        display: none;
    }
    .about_me {
        padding-top: 100px;
        margin-top: 40px;
        background: #eaeaea;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .columns {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        align-items: baseline;
    }

    .my_activity_r {
        max-width: 100%;
        margin-left: auto;
        margin-bottom: 250px;
    }
    .my_activity_info {
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 79px;
        color: #000000;
        margin-bottom: 60px;
    }

    section a {
        text-decoration: none;
        width: 80% !important;
    }

    aside {
        /* border: 1px solid #bebebe; */
        padding: 20px;
        margin-top: 40px;
        justify-content: space-around;
        /* margin-top: 20px; */
        border-radius: 10px;
        /* margin-right: 20px; */
        background: #eaeaea;
        /* max-width: 38%; */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 26px;
        color: #727272;
        height: 80%;
        width: 100%;
    }

    .about_info {
        font-family: 'Bebas Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 79px;
        color: #000000;
        margin-bottom: 60px;
        margin-left: auto;
    }

    .about_r {
        max-width: 100%;
        margin-left: auto;
        margin-bottom: 250px;
    }
}
